electrical RCDATA   "electrical.bmp"
mirror RCDATA   "mirror.bmp"
air RCDATA   "air.bmp"
fire RCDATA   "fire.bmp"
water RCDATA   "water.bmp"
corpse RCDATA   "corpse.bmp"
child RCDATA   "child.bmp"
inside RCDATA   "inside.bmp"
earth RCDATA   "earth.bmp"
outside RCDATA   "outside.bmp"
thoroughfare RCDATA   "thoroughfare.bmp"
emotional RCDATA   "emotional.bmp"
violence RCDATA   "violence.bmp"
murder RCDATA   "murder.bmp"
sleep RCDATA   "sleep.bmp"
headless RCDATA   "headless.bmp"